In [1]:
import pandas as pd
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler

# Load the CSV file
df = pd.read_csv('customer (2).csv')

# 1. Remove or impute missing values
imputer = SimpleImputer(strategy='mean')
for col in df.select_dtypes(include='number').columns:
    df[col] = imputer.fit_transform(df[[col]])

# For categorical columns, fill missing with the most frequent value
cat_imputer = SimpleImputer(strategy='most_frequent')
for col in df.select_dtypes(include='object').columns:
    df[col] = cat_imputer.fit_transform(df[[col]]).ravel()

# 2. Handle categorical features (One-Hot Encoding)
categorical_cols = df.select_dtypes(include='object').columns
df = pd.get_dummies(df, columns=categorical_cols, drop_first=True)

# 3. Normalize data (Standardization)
scaler = StandardScaler()
numeric_cols = df.select_dtypes(include='number').columns
df[numeric_cols] = scaler.fit_transform(df[numeric_cols])

# Display the cleaned and processed data
df.head()

,CustomerID,Age,Tenure,MonthlyCharges,TotalCharges,Gender_Male,ContractType_One-Year,ContractType_Two-Year,InternetService_Fiber Optic,TechSupport_Yes,Churn_Yes
0,-1.730320,0.441751,-0.792930,0.543157,-0.668991,True,False,False,True,True,True
1,-1.726856,-0.170941,-1.004760,-1.467799,-0.893948,True,False,False,True,True,True
2,-1.723391,0.645982,-0.898845,-0.412514,-0.812737,False,False,False,True,False,True
3,-1.719927,1.565021,-0.581101,1.087531,-0.372792,False,True,False,False,True,True
4,-1.716463,-0.273057,0.689875,-0.209395,0.511758,True,False,False,True,False,True